extends layout

block content
  section(data-name='All Todos')
    h1 All Todos
    p(class='todo_count')
    a(href='/add' class='add_new')
      h2 Add new to do
    ul
  div(class='modal_overlay')
