<dl data-name="All Todos" class="selected_list">
  <dt><h2>All Todos</h2></dt><!--
  --><dd><p class="todo_count circle"></p></dd>
</dl>
{{#each items}}
  <dl data-name="{{name}}">
    <dt><h3>{{name}}</h3></dt><!--
    --><dd><p class="todo_count circle">{{count}}</p></dd>
  </dl>
{{/each}}